/*-- CONTACT --*/
.company-details {
  width: 80%;
  left: 10%;
  height: 200px;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.contact-company {
  position: absolute;
  color: white;
  width: fit-content;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  margin: 6px 0 15px 0;
  resize: vertical;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
}

input[type="submit"] {
  background-color: #0c1c45;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #0c1c45;
  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: white;
  color: #0c1c45;
  border: 2px solid #0c1c45;
}

.contact-container {
  width: 80%;
  height: auto;
  border-radius: 20px;
  background-color: #003973;
  padding: 30px;
  color: white;
  font-size: 18px;
  position: relative;
  margin: 50px auto 50px auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact-container h2 {
  text-align: center;
  color: white;
}

.column {
  width: 80%;
  padding: 20px;
  margin: 6px 0 0 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* FORM ERROR */
.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
  margin-bottom: 20px;
}
