* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(black, #0c1c45);
  background-repeat: no-repeat;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/*-- FONTS --*/
h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  font-size: 35px;
  text-transform: uppercase;
}

h4 {
  font-size: 30px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
}

/*-- TOPNAV --*/
.topnav {
  overflow: hidden;
  background-color: #0c1c45;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.topnav-links a {
  display: inline-flex;
  position: relative;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.topnav a:hover {
  color: #0071e3;
  transition: 0.5s;
}

.topnav .icon {
  display: none;
  color: white;
}

.topnav .icon:hover {
  background-color: none;
}

.topnav a:active {
  color: #0071e3;
}

.logo {
  background: white;
  padding: 30px 0 25px 0;
}

img {
  width: 200px;
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

/*-- SEARCH --*/
.home-search {
  padding: 25px 0 25px 0;
  position: absolute;
  left: 22%;
  z-index: 10;
}

.search-bar {
  position: relative;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 720px;
  border-radius: 20px;
  background-color: white;
}

.search-bar input {
  height: 40px;
  width: 670px;
  border: none;
  outline: none;
  padding: 0 10px 0 25px;
  color: black;
  border-radius: 20px 0 0 20px;
  background-color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
}

.search-icon {
  height: 100%;
  width: 50px;
  line-height: 40px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  padding-right: 20px;
  cursor: pointer;
}

.search-icon:hover {
  background: none;
}

.search-icon span:hover {
  color: #0071e3;
}

.search-icon span {
  color: #0c1c45;
  font-size: 20px;
}

/*-- MEDIA --*/
@media screen and (width: 2560px) {
  .game-details {
    max-width: none;
  }
  .game-description {
    top: 400px;
    left: 900px;
  }
  .game-img img {
    width: 15%;
    margin-left: 900px;
  }
}

@media screen and (width: 2000px) {
  .game-details {
    max-width: none;
  }
  .game-description {
    top: 350px;
    left: 500px;
  }
  .game-img img {
    width: 15%;
    margin-left: 600px;
  }
}

@media screen and (width: 1800px) {
  .game-description {
    top: 400px;
    left: 400px;
  }
  .game-img img {
    margin-left: 0px;
  }
}

@media screen and (width: 1440px) {
  .row1 p,
  .row2 p,
  .row3 p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .game-details {
    max-width: none;
  }
  .game-description {
    left: 200px;
    top: 350px;
  }
  .game-img img {
    width: 20%;
    margin-left: 350px;
  }
}

@media screen and (width: 1024px) {
  .home-search {
    padding: 25px 0 25px 0;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .games-search {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
  .search-bar {
    display: inline-flex;
    width: 70%;
  }
  .search-bar input {
    width: 100%;
  }
  .search-icon:hover {
    background: none;
  }
  .search-icon span:hover {
    color: #0071e3;
  }
  .column {
    flex-direction: column;
    padding: 0;
  }
  .container h2 {
    margin-left: 100px;
    margin-bottom: 25px;
  }
  .row1 p,
  .row2 p,
  .row3 p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .topgames-list h2,
  .newreleases-list h2,
  .bestsellers-list h2 {
    font-size: 20px;
  }
}

@media screen and (width: 900px) {
  .home-search {
    padding: 25px 0 25px 0;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .games-search {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
  .row1,
  .row2,
  .row3 {
    flex-direction: column;
  }
  .row1 p,
  .row2 p,
  .row3 p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .topgames h1,
  .newreleases h1,
  .bestsellers h1 {
    font-size: 40px;
  }
  .topgames-list img,
  .newreleases-list img,
  .bestsellers-list img {
    width: 60%;
  }
  .search-bar {
    display: inline-flex;
    width: 70%;
  }
  .search-bar input {
    width: 100%;
  }
  .search-icon:hover {
    background: none;
  }
  .search-icon span:hover {
    color: #0071e3;
  }
  .column {
    flex-direction: column;
    padding: 0;
  }
  .game-description {
    left: 400px;
  }
  .game-img img {
    margin-left: 50px;
    width: 35%;
  }
}

@media screen and (max-width: 800px) {
  .topnav a {
    float: left;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 170px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .home-search {
    padding: 25px 0 25px 0;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .games-search {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
  .row1,
  .row2,
  .row3 {
    flex-direction: column;
  }
  .row1 p,
  .row2 p,
  .row3 p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .topgames h1,
  .newreleases h1,
  .bestsellers h1 {
    font-size: 32px;
  }
  .topgames-list img,
  .newreleases-list img,
  .bestsellers-list img {
    width: 60%;
  }
  .search-bar {
    display: inline-flex;
    width: 80%;
  }
  .search-bar input {
    width: 100%;
  }
  .search-icon:hover {
    background: none;
  }
  .search-icon span:hover {
    color: #0071e3;
  }
  .column {
    flex-direction: column;
    padding: 0;
  }
  input[type="text"],
  select,
  textarea {
    width: 370px;
  }
  input[type="submit"] {
    width: 370px;
  }
  .checkout-row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
  .payment-container {
    width: 90%;
    margin: 0 auto 40px;
  }
  .success-title h2 {
    margin-left: 35px;
  }
  .conshop-button {
    display: none;
  }
  .success-container {
    width: 90%;
  }
  .purchase-title {
    margin-left: 0;
  }
  hr {
    top: 250px;
    width: 80%;
    left: 0;
  }
  .order-information-title {
    top: 280px;
    left: 0;
  }
  .order-information {
    top: 100px;
    left: 0;
    display: inline-table;
  }
  .order-information p {
    padding-bottom: 10px;
  }
  .game-row {
    padding: 10px 0 30px;
  }
  .game-description {
    left: 350px;
    top: 340px;
  }
  .short-description p {
    width: auto;
  }
  .game-container {
    grid-template-columns: 1fr 1fr;
  }
  .game-img img {
    margin-left: 0;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .topnav a {
    float: left;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .home-search {
    padding: 25px 0 25px 0;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .games-search {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
  .row1,
  .row2,
  .row3 {
    flex-direction: column;
  }
  .row1 p,
  .row2 p,
  .row3 p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .topgames h1,
  .newreleases h1,
  .bestsellers h1 {
    font-size: 32px;
  }
  .topgames-list img,
  .newreleases-list img,
  .bestsellers-list img {
    width: 60%;
  }
  .search-bar {
    display: inline-flex;
    width: 80%;
  }
  .search-bar input {
    width: 100%;
  }
  .column {
    flex-direction: column;
    padding: 0;
  }
  input[type="text"],
  select,
  textarea {
    width: 300px;
  }
  input[type="submit"] {
    width: 300px;
  }
  .payment-container {
    width: 90%;
    margin: 0 auto 40px;
  }
  .success-title h2 {
    margin-left: 25px;
  }
  .conshop-button {
    display: none;
  }
  .success-container {
    width: 90%;
  }
  .purchase-title {
    margin-left: 0;
  }
  hr {
    top: 250px;
    width: 80%;
    left: 0;
  }
  .order-information-title {
    top: 280px;
    left: 0;
  }
  .order-information {
    top: 100px;
    left: 0;
    display: inline-table;
  }
  .order-information p {
    padding-bottom: 10px;
  }
  .bio-text {
    text-align: center;
  }
  .game-title {
    text-align: center;
  }
  .game-row {
    margin-left: 55px;
    padding: 10px 10px 50px 0;
  }
  .short-description p {
    width: 400px;
  }
  .game-container {
    grid-template-columns: 1fr 1fr;
  }
  .game-img img {
    margin-left: 0;
    width: 40%;
  }
  .game-details {
    max-width: none;
  }
  .game-description {
    margin-left: 0;
  }
}

@media screen and (width: 600px) {
  .topnav a {
    float: left;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  input[type="text"],
  select,
  textarea {
    width: auto;
  }
  input[type="submit"] {
    width: auto;
  }
  .home-search {
    padding: 25px 0 25px 0;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .games-search {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
  .row1,
  .row2,
  .row3 {
    flex-direction: column;
  }
  .row1 p,
  .row2 p,
  .row3 p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .topgames h1,
  .newreleases h1,
  .bestsellers h1 {
    font-size: 32px;
  }
  .topgames-list img,
  .newreleases-list img,
  .bestsellers-list img {
    width: 60%;
  }
  .search-bar {
    display: inline-flex;
    width: 80%;
  }
  .search-bar input {
    width: 100%;
  }
  .col {
    width: 100%;
    margin-top: 0;
  }
  .vl {
    display: none;
  }
  .hide-md-lg {
    display: block;
    text-align: center;
    color: white;
  }
  .signup-btn,
  .password-btn {
    display: inline-flex;
    flex-direction: column;
    width: 190px;
  }
  .signin-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .signin-row h2 {
    font-size: 25px;
  }
  .shopping-search {
    margin-left: 0;
    margin-right: 0;
  }
  .payment-container {
    width: 90%;
    margin: 0 auto 40px;
  }
  .success-title h2 {
    margin-left: 25px;
  }
  .conshop-button {
    display: none;
  }
  .success-container {
    width: 90%;
  }
  .purchase-title {
    margin-left: 0;
  }
  hr {
    top: 250px;
    width: 80%;
    left: 0;
  }
  .order-information-title {
    top: 280px;
    left: 0;
  }
  .order-information {
    top: 100px;
    left: 0;
    display: inline-table;
  }
  .order-information p {
    padding-bottom: 10px;
  }
  .bio-text {
    text-align: center;
  }
  .game-title {
    text-align: center;
  }
  .game-row {
    margin: 0 auto;
    padding: 0 10px 30px;
  }
  .game-description {
    left: 280px;
  }
  .game-description p {
    font-size: 18px;
  }
  .details-title h1 {
    font-size: 30px;
  }
  .short-description p {
    width: auto;
  }
  .game-container {
    grid-template-columns: 1fr;
  }
  .games {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .game-container {
    grid-template-columns: 1fr;
  }
  .games {
    text-align: center;
  }
  .game-details {
    height: 850px;
    max-width: none;
  }
  .game-img img {
    width: 70%;
    margin: 0 auto;
    display: flex;
  }
  .game-description {
    top: 750px;
    margin-left: -350px;
    color: black;
    text-align: center;
  }
  .short-description p {
    width: 300px;
    margin: 0 auto;
    display: inline-flex;
  }
}
